model_config_list: {
  config: {
    name: "en-cs_model",
    base_path: "/home/varis/t2t-model.en-cs/export/Servo",
    model_platform: "tensorflow"
  },
  config: {
     name: "cs-en_model",
     base_path: "/home/varis/t2t-model.cs-en/export/Servo",
     model_platform: "tensorflow"
  },
  config: {
    name: "en-fr_model",
    base_path: "/home/varis/t2t-model.en-fr/export/Servo",
    model_platform: "tensorflow"
  },
  config: {
     name: "fr-en_model",
     base_path: "/home/varis/t2t-model.fr-en/export/Servo",
     model_platform: "tensorflow"
  },
  config: {
     name: "en-hi_model",
     base_path: "/home/varis/t2t-model.en-hi/export/Servo",
     model_platform: "tensorflow"
  }
}
