Flask
Flask-WTF
Flask-Script
Flask-Bootstrap
flask-restplus
WTForms
sentence_splitter
gunicorn
eventlet
tensor2tensor==1.6.6
tensorflow==1.12.2
numpy==1.14.5
tensorflow-serving-api==1.9.0
iso639
networkx
