Flask
Flask-WTF
Flask-Script
Flask-Bootstrap
flask-restplus
WTForms
sentence_splitter
gunicorn
eventlet
tensor2tensor==1.15.7
numpy==1.18.5
tensorflow-serving-api==2.3.0
iso639
networkx
websocket-client
sentencepiece
# see https://github.com/noirbizarre/flask-restplus/issues/777
Werkzeug==0.16.1
# see https://github.com/aws/aws-sam-cli/issues/3661
markupsafe==2.0.1
