document-translation @ git+https://github.com/kukas/document-translation
absl-py==1.4.0
aniso8601==9.0.1
array-record==0.5.0
astunparse==1.6.3
atari-py==0.2.9
attrs==23.2.0
blinker==1.7.0
bz2file==0.98
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
chex==0.1.7
click==8.1.7
cloudpickle==1.6.0
decorator==5.1.1
dm-tree==0.1.8
dnspython==2.5.0
dominate==2.9.1
dopamine-rl==3.2.1
etils==1.6.0
eventlet==0.35.1
flask==3.0.2
Flask-Bootstrap==3.3.7.1
flask-restx==1.3.0
Flask-Script==2.0.6
flask-wtf==1.2.1
flatbuffers==23.5.26
flax==0.8.1
fsspec==2024.2.0
future==0.18.3
gast==0.4.0
gevent==23.9.1
gin-config==0.5.0
google-api-core==2.17.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.60.1
gunicorn==21.2.0
gym==0.18.3
h5py==3.10.0
httplib2==0.22.0
idna==3.6
importlib-resources==6.1.1
iso639==0.1.4
itsdangerous==2.1.2
jax==0.4.24
jaxlib==0.4.24
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==2.13.1
kfac==0.2.0
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mesh-tensorflow==0.1.21
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.7
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.23.1
oauth2client==4.1.3
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
optax==0.1.9
orbax-checkpoint==0.5.3
packaging==23.2
pandas==2.2.0
Pillow==8.2.0
promise==2.3
protobuf==3.20.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygame==2.5.2
pyglet==1.5.15
pygments==2.17.2
pyparsing==3.1.1
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.17.1
rsa==4.9
scipy==1.12.0
sentence-splitter==1.4
sentencepiece==0.1.99
six==1.16.0
sympy==1.12
tensor2tensor==1.15.7
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.13.0
tensorflow-gan==2.1.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.7.0
tensorflow-serving-api==2.13.1
tensorstore==0.1.53
termcolor==2.4.0
tf-keras==2.15.0
tf-slim==1.1.0
toml==0.10.2
toolz==0.12.1
tqdm==4.66.1
typeguard==2.13.3
typing-extensions==4.5.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.2.0
visitor==0.1.3
websocket-client==1.7.0
werkzeug==3.0.1
wrapt==1.16.0
wtforms==3.1.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
