Flask
Flask-WTF
Flask-Script
Flask-Bootstrap
flask-restx
WTForms
sentence-splitter
gunicorn
eventlet
tensor2tensor
numpy
tensorflow-serving-api
iso639
networkx
websocket-client
sentencepiece
# see https://github.com/noirbizarre/flask-restplus/issues/777
Werkzeug
# see https://github.com/aws/aws-sam-cli/issues/3661
MarkupSafe
document-translation @ git+https://github.com/kukas/document-translation