[Unit]
Description=Transformer worker
PartOf=transformer.service
After=transformer.service

[Service]
WorkingDirectory=/home/okosarko/transformer_frontend
ExecStart=/usr/bin/tensorflow_model_server --port=9000 --model_config_file=/home/okosarko/transformer_fronted/model.config
Restart=always
User=okosarko

[Install]
WantedBy=transformer.service

