[Unit]
Description=Transformer frontend server

[Service]
WorkingDirectory=/opt/lindat_translation/
ExecStart=/opt/lindat_translation/virtualenv/bin/gunicorn -t 500 -k sync -w 12 -b 0.0.0.0:5000 uwsgi:app
Restart=always
User=okosarko

[Install]
WantedBy=multi-user.target
	
