[Unit]
Description=Transformer frontend server
PartOf=transformer.service
After=transformer.service

[Service]
WorkingDirectory=/home/okosarko/transformer_frontend
ExecStart=/home/okosarko/transformer_frontend/virtualenv/bin/gunicorn -t 500 -k sync -w 12 -b 127.0.0.1:5000 uwsgi:app
Restart=always
User=okosarko

[Install]
WantedBy=transformer.service
	
