[Unit]
Description=Transformer
Wants=tensorflow_serving.service transformer_frontend.service

[Service]
# Don't run as a deamon (because we've got nothing to do directly)
Type=oneshot
# Just print something, because ExecStart is required
ExecStart=/bin/true
# Keep running after Exit start finished, because we want the instances that depend on this to keep running
RemainAfterExit=yes
#StandardOutput=journal

[Install]
WantedBy=multi-user.target
