{%- extends "main.html" %}
{% block panel %}
{{ super() }}
    <h2>Api</h2>
    <p>There's a very simple API available. When you know the name of the model you want to use
        and/or you know the source and target languages, you just <code>POST</code>
        <code>input_text</code> to the model/language endpoint.</p>
    See <a href="{{ url_for('api.doc') }}">the interactive api doc</a> or browse the api with <a
        href="hal_browser">hal browser</a>.
    <h2>Limitations</h2>
    <p>See the <a href="https://lindat.mff.cuni.cz/en/terms-of-use">terms of use</a> for general
        limitations on lindat services.</p>
    <p>There is a limitation on the size of the payload (file/request); this is currently {{ file_size_limit|tojson }}B</p>
{% endblock %}
