{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Translate</div>
        <div class="panel-body">
          <div class="col-md-12">
            <p>Once the translation has started it takes in order of minutes to complete. You'll be shown the status (started/queued) of your translation task above this panel.</p>
            <form class="form" id="taskForm" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.input_text) }}
                {{ wtf.form_field(form.lang_pair) }}
              <div class="form-group">
                <button type="button" class="btn btn-default" id="submit">Translate</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}

{% block app_scripts %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
