{%- extends "main.html" %}
{% block panel %}
    {{ super() }}
    <p>Once the translation has started it can take in order of minutes
        to complete. You'll be shown the status (started/queued) of your translation task above this panel.</p>
    <form class="form" id="taskForm" method="POST">
        {{ wtf.form_field(form.lang_pair) }}
        {{ wtf.form_field(form.models) }}
        {{ wtf.form_field(form.advanced) }}
        <div class="row">
            <div class="col-md-6" id="input">{{ wtf.form_field(form.input_text) }}</div>
            <div class="col-md-6" id="output">{{ wtf.form_field(form.output_text) }}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-1">
                <button type="button" class="btn btn-default" id="submit">Translate</button>
            </div>
            <div class="file-field col-sm-2">
                    <label for="data_file" class="btn btn-default">Choose file</label>
                    <input id="data_file" name="data_file" type="file" style="display:none">
            </div>
            <div class="col-sm-10">&nbsp;</div>
        </div>
    </form>
{% endblock %}
