{%- extends "main.html" %}
{% block panel %}
    {{ super() }}
    <p>The translation service is available for <strong><em>personal and non-nommercial use</em></strong> (see <a href="https://lindat.mff.cuni.cz/en/terms-of-use">terms of use</a> for more details).</p>
    <form class="form" id="taskForm" method="POST"
          action="{{ url_for('api.languages_language_collection') }}">
        {{ wtf.form_field(form.models) }}
        <div class="row">
            <div class="col-md-6" id="source_col">{{ wtf.form_field(form.source) }}</div>
            <div class="col-md-6" id="target_col">{{ wtf.form_field(form.target) }}</div>
        </div>
        {{ wtf.form_field(form.advanced) }}
        <div class="row">
            <div class="col-md-6" id="input">{{ wtf.form_field(form.input_text) }}</div>
            <div class="col-md-6" id="output">{{ wtf.form_field(form.output_text) }}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-1">
                <button type="button" class="btn btn-default" id="submit">Translate</button>
            </div>
            <div class="file-field col-sm-2">
                    <label for="data_file" class="btn btn-default">Choose file</label>
                    <input id="data_file" name="data_file" type="file" style="display:none">
            </div>
            <div class="col-sm-10">&nbsp;</div>
        </div>
    </form>
{% endblock %}
